<!DOCTYPE html>
<html>

<head>
    <script>
        var index = window.location.pathname.indexOf("#");
        if(index === -1) {
            index = window.location.pathname.length;
        }

        var basePath = window.location.pathname.substring(0, index - 1);
        index = basePath.indexOf("index.html");
        if(index !== -1) {
            basePath = window.location.pathname.substring(0, index - 1);
        }

        if(basePath.length > 1) {
            if(basePath.lastIndexOf("/") !== basePath.length -1 ) {
                basePath = basePath + "/";
            }
            document.write('<base href="' + basePath + '"/>');
        }
        window.basePath = basePath || "/";
    </script>
    <!-- version: <%= htmlWebpackPlugin.options.version %> -->
    <!-- build time: <%= htmlWebpackPlugin.options.lastModified %> -->
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <% if(htmlWebpackPlugin.options.links) for (item of htmlWebpackPlugin.options.links) {  %> <link href="<%= item %>" rel="stylesheet"/> <% } %>
</head>

<body>
<% if (htmlWebpackPlugin.options.appMountId) { %>
<div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
<% } %>
</body>

</html>